Assets/Scripts.meta
Assets/Scripts/TwineImporter.cs.meta
Assets/Test.unity
Assets/Test.unity.meta
Assets/TwineFiles.meta
Assets/TwineFiles/simple.txt.meta
Library/AnnotationManager
Library/assetDatabase3
Library/AssetImportState
Library/AssetServerCacheV3
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/CurrentLayout.dwlt
Library/EditorUserBuildSettings.asset
Library/EditorUserSettings.asset
Library/expandedItems
Library/FailedAssetImports.txt
Library/guidmapper
Library/InspectorExpandedItems.asset
Library/metadata/*
Library/MonoManager.asset
Library/ProjectSettings.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/CompilationCompleted.txt
Library/ScriptMapper
ProjectSettings/AudioManager.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/InputManager.asset
ProjectSettings/NavMeshLayers.asset
ProjectSettings/NetworkManager.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/QualitySettings.asset
ProjectSettings/TagManager.asset
ProjectSettings/TimeManager.asset
Twine2Unity.sublime-workspace
*.meta